<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Flask Chat App - Join</title>
    <link rel="stylesheet" href="../static/homepage.css" />

</head>
<body>
   <header class="top-header">
        <h1>Welcome to Flask Chat App</h1>
        <p>This is a simple real-time chatroom application. Enter your name and the room you'd like to join or create.</p>
    </header>
    <main class="main-content">
        <h1> Chats </h1>
    </main>
</body>
</html> 